global:
  scrape_interval: 15s

scrape_configs:
  - job_name: 'backend'
    static_configs:
      - targets: ['backend1:8080', 'backend2:8080', 'backend3:8080']
  - job_name: 'nginx'
    static_configs:
      - targets: ['nginx_exporter1:9113', 'nginx_exporter2:9113', 'nginx_exporter3:9113']