apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  annotations:
    argocd-image-updater.argoproj.io/write-back-method: git
    argocd-image-updater.argoproj.io/image-list: nginx=nginx:semver:^1.0.0
  name: old-nginx
  namespace: argocd
spec:
  destination:
    namespace: default
    server: https://kubernetes.default.svc
  project: default
  source:
    path: kubernetes/argocd-image-updater/old-nginx
    repoURL: https://github.com/Drumato/blog_samples
    targetRevision: HEAD
    kustomize:
